<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Mo Meyer - freelance bass player</title>
		<meta name="description" content="Mo Meyer - freelance bass player, electric bass, bass synth, double bass">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-43480308-17', 'auto');
		  ga('send', 'pageview');
		</script>
		<script src="/js/jquery/jquery-2.1.4.min.js"></script>


		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div id="body">
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="container">
			<div id="footer">
				<p>code. design. by <a href="https://iovi.io" target="_blank">iovi.io</a></p>
			</div>
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/flickity.pkgd.min.js"></script>
		<script src="/js/bg-lazyload.js"></script>
		<script type="text/javascript">
		var $gallery = $('.main-carousel').flickity({
				// options
				cellAlign: 'left',
				contain: true,
				prevNextButtons: false,
				wrapAround: true,
				bgLazyLoad: 2,
				pageDots: false
				});

				$gallery.on( 'staticClick.flickity', function( event, pointer, cellElem, cellIndex ) {
		  if ( cellIndex !== undefined ) {
		    $gallery.flickity( 'select', cellIndex );
		  }
		});

		</script>

		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		--}}
		{{{isAdminEditorJS user}}}
	</body>
</html>
