body{
	margin:0;
	font-family: 'Proxima Nova', 'Helvetica', sans-serif;
	color:white;
}
#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.titlesvg{
	position: relative;
	display: block;
	margin: 0 auto;
}

.svg-text{
	margin-top:60vh;
}

.svg-text svg text{
	text-anchor: middle;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Proxima Nova', 'Helvetica', sans-serif;
  letter-spacing: 5px;
}

tspan{
	white-space: inherit;
}

.carousel-cell:first-child .contentlink{
	display:none;
}

.carousel-cell:not(:first-child) .contentdesc{
	display:none;
}

.carousel-cell:not(:first-child) .contentlineup{
	display:none;
}

.carousel-cell:not(:first-child) .sllinks{
	display:none;
}


.bandcontent h3{
	width:100%;
	text-align: center;
	font-size: 2em;
	margin:0;
}

.bandcontent .contentlink{
	letter-spacing: 5px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.bandcontent .contentdesc,.bandcontent .contentlineup{
	@media screen and (max-width: 414px){
		font-size: 1.5em;
	}
}

.bandcontent a{
	color: white;
	font-weight: 700;
	z-index: 999;
}

.textbox{
	padding-top: 1em;
}

#footer{
	text-align: center;
	font-family: 'Times', 'Times New Roman','Helvetica', serif;
	color:black;
	a{

	}
}
